:root {
  --text-color: #cedae4;
  --main-color: #141417;
  --navigator-color: #201e25;
  --blue-color: #00aeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "NT Somic-VF";
}

@font-face {
  font-family: "NT Somic-VF";
  src: url("./fonts/NT Somic-VF.ttf");
}

a {
  text-decoration: none;
  color: var(--text-color);
}

div {
  color: var(--text-color);
}
